<h1>Listing Users</h1>
<table>
	<% @users.each do |user| %>
	<tr>
		<td>
			<%= user.first_name %>
		</td>
		<td>
			<%= link_to "Show", user %><br />
			<%= link_to "Edit", user %>
		</td>
	</tr>
	<% end %>
</table>
