<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="two columns">
					<dl class="nice vertical tabs">
					  <dd><%= link_to "Edit Profile", edit_user_path, :class=>"inactive"  %></dd>
					</dl>
				</div>
				<div class="eight columns">
				<h2><%= @user.first_name%>'s Profile</h2>
				<h4 class="subheader">Welcome Back!</h4>
					<%= @user.first_name%>
					<%= @user.last_name%>
				</div>
			</div>
		</div>
	</div>
</div>