/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require foundation
 *= require_tree . 
*/

.top-buttons{
	float: right;
}

dl.nav {
  	display: block;
    width: auto;
    overflow: hidden;
    margin: -4px 0 18px -9px;
    padding-top: 4px;
    float: right;
}

dl.nav dt, dl.nav dd {
   float: left;
   display: inline;
   margin-left: 9px;
   margin-bottom: 4px;
}

dl.nav dt {
   color: #999;
   font-weight: normal;
}

dl.nav dd a {
   color: silver;
   padding: 0px 5px 0px 5px;
   text-decoration: none;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
}
  
dl.nav dd a.active{
   color: black;
   font-weight: bold;
   font-size: 1.2em;
   padding: 0px 15px 0px 15px;
}

p.call {
	color: silver;
	font-size: 2em;
	font-weight: bold;
	font-family: fantasy;
	float:right;
	display:inline;
}

p.phone {
	color: black;
	font-size: 2.5em;
	font-weight: bold;
	font-family: Impact, fantasy;
	float:right;
	display:inline;
}

.contentbg{
	background: white;
	width: 800px;
	height: 300px;
}

.content{
	padding: 20px 0px 0px 15px;
	text-align: center;
	font-variant:small-caps;
	font-family: Impact, fantasy;
	vertical-align: middle;
	background: white;
}

h1.content{
	font-size: 5em;
}

h3.content{
	font-size: 3em;
	padding: 0px 0px 0px 15px;
}

img.content{
	padding:40px 20px 0px 0px;
}

p.panel-title{
	font-size: 2em;
	padding-top: 20px;
	font-variant:small-caps;
	font-family: Impact, fantasy;
}

.panel-text{
	font-weight: bold;
	font-family: fantasy;
	font-size: 1.4em;
}

ul.panel-text{
	list-style-type: disc;
	list-style-position: inside;
}

p.footer-call{
	color: #404040;
	font-size: 1.8em;
	font-weight: bold;
	font-family: fantasy;
	text-align: center;
	padding-top: 12px;
}

p.footer-phone{
	color: #404040;
	font-size: 1.8em;
	font-weight: bold;
	font-family: fantasy;
	text-align: center;
}

p.disclaimer{
	text-align:center;
}

p.copyright{
	text-align:center;
}

.form-element{
	padding-bottom: 10px;
}

.radio{
	display:inline;
}

#body-text{
	background: silver;
}

#footer-text{
	background: gray;
}
